/* Base Style */
@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $primary-color;
}

body {
    font-family: $font;
    color: $primary-color;
    background-color: $secondary-color;
}

.container {
    margin: 0 auto;
    width: 80%;
}

/* Navbar */

.navbar {    
    .toggle {
        position: absolute;
        top: 1em;
        right: 1em;
        div {
            width: 36px;
            height: 5px;
            margin: 6px;
            background-color: $primary-color;
        }
    }

    .nav-list {
        display: none; // none
        font-size: 2em;
        justify-items: center;
        align-content:space-evenly;
        height: 100vh;
    }
}



