/* Base Style */
@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $primary-color;
}

body {
    font-family: $font;
    color: $primary-color;
    background-color: $secondary-color;
}

.container {
    margin: 0 auto;
    width: 70%;
}

/* Navbar */

.navbar {
    .toggle {
        position: absolute;
        top: 1em;
        right: 1em;
        div {
            width: 36px;
            height: 5px;
            margin: 6px;
            background-color: $primary-color;
        }
    }

    .nav-list {
        display: none; // none
        font-size: 2em;
        justify-items: center;
        align-content: space-evenly;
        height: 100vh;
    }
}

/* About Me */

.about {
    border-bottom: 0.1em solid $primary-color;
    border-top: 0.1em solid $primary-color;
    margin: 0 auto;
    margin-top:4em;
    margin-bottom: 4em;
    .cards {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 80vh;
        .card {
            margin-top:1em;
            width: 100%;
        }
        .card-image {
            max-width: 20em;
            width: 100%;
            border-radius: 1.4em;
        }
    }
}
