/* Base Style */
@import "variables"; 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $primary-color;
}

body {
    font-family: $font;
    color: $primary-color;
    background-color: $secondary-color;
}

